### Lab 4 - Sabal Jayaswal

In [0]:
import requests
from lxml import html
import pandas as pd
import numpy as np

In [0]:
# Read in GDP and clean data
pageContent=requests.get('https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29')
tree = html.fromstring(pageContent.content)

country=tree.xpath('//table[2]/tbody/tr[2]/td[3]//a[1]/text()')
for i in range(len(country) -1,0,-1):
  if '[' in country[i]:
    del country[i]
gdp=tree.xpath('//table[2]/tbody/tr[2]/td[3]//span/text()')[1::2] 

df = pd.DataFrame({'Country':country, 'GDP':gdp})
df = df.iloc[1:]
df = df.set_index('Country')
df

                         GDP
Country
United States     19,485,394
China             12,234,781
Japan              4,872,415
Germany            3,693,204
United Kingdom     2,631,228
...                      ...
Marshall Islands         209
Nauru                    182
Kiribati                 180
Montserrat                63
Tuvalu                    38

[212 rows x 1 columns]

In [0]:
# Read in population and clean data
pageContent2 = requests.get('https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population')
tree2 = html.fromstring(pageContent2.content)

index      = tree2.xpath('//table/tbody/tr/td[1]/text()')
country2   = tree2.xpath('//table/tbody/tr/td[2]//a[1]/text()')
population = tree2.xpath('//table/tbody/tr/td[3]/text()')

for i in range(len(country2) -1,0,-1):
  if '[' in country2[i] or len(country2[i]) <= 2:
    del country2[i]
del country2[233]
del country2[219]

df2 = pd.DataFrame({'Index':index,'Country':country2, 'Population':population})

df2 = df2[df2.Index != '–']
df2 = df2.drop('Index', 1)
df2 = df2.set_index('Country')
df2

                  Population
Country
China          1,402,741,640
India          1,362,509,699
United States    329,725,558
Indonesia        266,911,900
Pakistan         220,892,331
...                      ...
San Marino            33,553
Palau                 17,900
Nauru                 11,000
Tuvalu                10,200
Vatican City             825

[196 rows x 1 columns]

In [0]:
df3 = df.join(df2, how = "inner")

df3['GDP'] = df3['GDP'].str.replace(',', '').astype(int)
df3['Population'] = df3['Population'].str.replace(',', '').astype(int)

correlation = df3['GDP'].corr(df3['Population'])
correlation

0.5622900799610706